<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Olympians</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>com.revature.Servlets.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderBookmarks</display-name>
    <servlet-name>OrderBookmarks</servlet-name>
    <servlet-class>com.revature.Servlets.OrderBookmarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderBookmarks</servlet-name>
    <url-pattern>/OrderBookmarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.revature.Servlets.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>com.revature.Servlets.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Personalize</display-name>
    <servlet-name>Personalize</servlet-name>
    <servlet-class>com.revature.Servlets.Personalize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Personalize</servlet-name>
    <url-pattern>/Personalize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportExport</display-name>
    <servlet-name>ImportExport</servlet-name>
    <servlet-class>com.revature.Servlets.ImportExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportExport</servlet-name>
    <url-pattern>/ImportExport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetHomepage</display-name>
    <servlet-name>SetHomepage</servlet-name>
    <servlet-class>com.revature.Servlets.SetHomepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetHomepage</servlet-name>
    <url-pattern>/SetHomepage</url-pattern>
  </servlet-mapping>
</web-app>